@charset "UTF-8";
:root {
  --font-dark-color: #061a2c;
  --grey: #f0f0f0;
  --background-light-color: #F1F1F1;
  --primary-color: #561592;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
  color: var(--font-dark-color);
  background-color: var(--background-light-color);
}
html li, body li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-dark-color);
}
a:visited {
  color: var(--font-dark-color);
}

p {
  font-weight: 300;
  line-height: 30px;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--background-light-color);
  z-index: 1000;
  border-bottom: 1px solid var(--font-dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 5vw;
}
header img {
  margin-right: 50px;
}
header menu {
  display: flex;
}
header menu li a {
  padding: 10px 15px;
  color: var(--font-dark-color);
  text-decoration: none;
  font-weight: 400;
}
header menu li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 5px;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

main {
  padding: 5vw;
}

.article {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid transparent;
}
.article .article_text {
  padding: 5vw;
}
.article h2 {
  font-size: 1.2rem;
}
.article p {
  font-size: 1rem;
}
.article figure {
  width: 100%;
  max-height: 40vh;
}

.section__article__figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.article:hover {
  border: 2px solid var(--primary-color);
}
.article:hover h2 {
  color: var(--primary-color);
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5vw;
  height: 40vh;
  background-color: #1c0630;
  color: white;
}
.footer nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer ul {
  padding-top: 20px;
}
.footer li {
  padding-top: 15px;
}
.footer a {
  color: var(--grey);
}
.footer a:hover {
  padding-bottom: 4px;
  color: var(--background-light-color);
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer a:visited {
  color: var(--background-light-color);
}

.title_article {
  padding-top: 4vw;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--font-dark-color);
  padding: 2vw 0;
}

th {
  padding: 1.4vw 1vw;
  background-color: var(--font-dark-color);
  color: white;
}

tr {
  background-color: #f7f7f7;
  padding: 1vw;
}

aside li ul {
  padding: 5px 20px;
  list-style: square;
}

aside {
  border: 1px solid #561592;
  box-shadow: 2px 2px 2px var(--grey);
  border-radius: 20px;
  background-color: #f7f7f7;
  position: sticky;
  top: 100px;
  padding: 2vw;
  max-height: 100vh;
}
aside a {
  font-size: 14px;
}
aside h2 {
  color: #561592;
  font-weight: 600;
  padding-bottom: 20px;
}
aside li {
  list-style-type: disc;
  padding-bottom: 10px;
}
aside .sub_menu_ul {
  padding: 5px 20px;
  list-style: number;
}
aside li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: 500;
}

.grid_article {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  min-height: 100vh;
}
.grid_article div {
  padding-right: 4vw;
}

.banner_article {
  width: 100%;
  padding-right: 40vw;
  margin-bottom: 20vh;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 30vw;
  background-color: white;
  border: 1px solid var(--grey);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20vh 4vw;
  border-radius: 20px;
}
form label {
  font-weight: 500;
  margin-bottom: 10px;
}
form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--grey);
  border-radius: 5px;
}
form button {
  padding: 10px;
  background-color: var(--font-dark-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
}
form button:hover {
  background-color: var(--primary-color);
}

.image {
  overflow: hidden;
  width: 100%;
  height: 400px;
}
.image img {
  width: 100%;
  height: auto;
  vertical-align: baseline;
}

hr {
  margin: 5vw 0;
}

.footer_article {
  padding: 0 5vw 2vw 5vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}
.footer_article .links {
  padding-top: 6px;
  font-weight: 600;
  color: #561592;
}
.footer_article .links:hover {
  padding-top: 0;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
.footer_article .links:hover::before {
  color: var(--primary-color);
  content: "➞ ";
}

.comments {
  margin-top: 5vw;
  display: grid;
  grid-template-columns: 1fr;
}
.comments .comment {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-bottom: 1px solid var(--grey);
}
.comments .comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
